<% @page_title = "マイアカウント" %>

<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "アカウント情報の編集", :edit_account %></div>
<div class="toolbar"><%= link_to "パスワードの変更", :edit_password %></div>

<%= render "members/body" %>